@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  user-select: none;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 70px;
}

.col-header.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.col-header.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.col-header.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

/* .hold{
  background: linear-gradient(90deg, #c6f3d7 0%, #c7e7f7 100%);
} */

.hold.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.hold.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.hold.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hide{
  display: none;
}

/* .hovered{
  background: linear-gradient(180deg, #e3e7e55e 0%, rgba(119, 231, 175, 0.582) 70%);
} */

.hovered.start {
  background: linear-gradient(90deg, #ff85e554 0%, #229efd34 179.25%);
}

.hovered.progress {
  background: linear-gradient(90deg, #209bff3d 0%, #68e0d03d 100%);
}

.hovered.done {
  background: linear-gradient(90deg, #84faaf3f 0%, #8fd2f467 100%);
}